$bg: #1d1f20;
$text-color: #d7b94c;
$caret-color: white;
$text-length: 16;
$animation-time: 4s;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@import "./SCSS/login";
@import "./SCSS/loading";
@import "./SCSS/order-display";
@import "./SCSS/modal";

// admin
@import "./SCSS/admin/adminHeader";
@import "./SCSS/admin/adminHome";
@import "./SCSS/admin/orderTable";

.extra-space {
  height: 70px;
  width: 100%;
  background-color: black;
  .email-container {
    text-align: center;
    color: #f0f40a;
    font-size: 18px;
    font-weight: 700;
    a {
      color: #f0f40a !important;
    }
  }
}

.v-center {
  align-items: center;
}

/*SOCIAL CALL*/

.social-call {
  width: 100%;
  height: 40px;
  padding-bottom: 8px;
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(255, 254, 254, 0.1);
  margin-bottom: 20px;
  background-color: black;

  a {
    margin: 0 5px;
    color: rgba(253, 251, 251, 0.7);
    /*color: whitesmoke;*/
    font-size: 0.9rem;
    &:hover {
      color: #f0f40a;
    }
  }
  .phone {
    margin-left: 30px;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
      font-size: 16px;
      // color: rgba(252, 250, 250, 0.7) !important;
    }
    .contact {
      display: flex;
      justify-content: center;

      align-items: center;
      color: #f0f40a;
      cursor: pointer;
      .country-text {
        font-size: 18px;
        font-weight: 700;
      }
      .number-container {
        a {
          color: #f0f40a !important;
        }
        margin-left: 8px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

/*END OF SOCIAL CALL*/

.country {
  color: #cfd309 !important;
}
.header {
  position: relative;
  display: block;
  padding: 15px;
  background-color: black;
  color: whitesmoke;
  .item-left {
    flex: 0 0 17%;
    display: flex;
    align-items: center;
  }
  .item-center {
    flex: 0 0 66%;
  }
  .item-right {
    flex: 0 0 17%;
    display: flex;
    justify-content: flex-end;
    a {
      display: inline-block;
      margin-left: 15px;
      font-size: 16px;
      color: whitesmoke;
    }
  }
  .logo a {
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #f0f40a;
    line-height: 20px;
  }
}

.header .menu > ul > li {
  display: inline-block;
  margin-left: 20px;
  line-height: 30px;
}

.header .menu > ul > li > a {
  position: relative;
  display: block;
  font-size: 15px;
  /*color: #555;*/
  color: whitesmoke;
}

/*Sale LABEL*/

.sale-design {
  position: relative;
  .sale-label {
    position: absolute;
    top: -15px;
    right: 25px;
    width: 30px;
    height: 15px;
    background-color: #f76b6a;
    color: white;
    font-weight: 900;
    display: block;
    text-align: center;
    font-size: 0.5rem;
    line-height: 15px;
    text-transform: uppercase;
    &:after {
      content: "";
      position: absolute;
      left: 10%;
      width: 0px;
      height: 0px;
      border-bottom: 5px solid transparent;
      border-left: 3px solid transparent;
      border-top: 7px solid #f76b6a;
      border-right: 5px solid transparent;
      top: 100%;
    }
  }
}

/*END OF Sale LABEL*/

.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title {
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  background-color: rgb(172, 117, 117);
  color: white;
  border-radius: 10px;
  margin: 10px 0;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

/*SEARCH*/
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  .search-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.4s;
    border-radius: 12px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.5s linear;
    .search-input {
      padding: 6px;
      border-bottom: 2px solid #555;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        border: none;
        outline: none;
        font-size: 1.5rem;
      }
    }
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .search-icon {
      color: #cfd309;
      font-size: 37px;
      margin-right: 20px;
    }
    .icon-text {
      line-height: 60px;
      font-size: 30px;
    }
  }
}

.search-cancel {
  color: #272727;
  font-size: 1.6rem;
  padding-right: 10px;
}

.search-cancel:hover {
  color: #0b9d8a;
}

.search-bar-active {
  display: flex;
}

@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

/*END OF SEARCH*/

/*LOGIN*/

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}

// .login-form,
.sign-up-form {
  position: relative;
  width: 420px;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.login-form form,
.sign-up-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form strong,
.sign-up-form strong {
  color: #272727;
  font-size: 25px;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.login-form input,
.sign-up-form input {
  width: 90%;
  height: 45px;
  margin: 6px 0;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
  background-color: #0b9d8a;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/*end of LOGIN*/

/* LOGIN BTNS*/

.form-btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.form-btns a {
  color: #4d4d4d;
  font-size: 0.9rem;
}

.sign-up-btn {
  border-bottom: 1px solid #868686;
  line-height: 18px;
}

.form-cancel {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #868686;
}

.form-cancel:hover {
  color: #0b9d8a;
}

// .login-form,
// .sign-up-form,
// .form {
//   display: none;
// }

.login-active,
.login-active .login-form {
  display: flex;
  animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .sign-up-form {
  display: flex;
  animation: fade 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* END OF LOGIN BTNS*/

/*FULL PAGE SLIDER*/
.full-slider-box {
  padding: 32px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.f-slide-1 {
  display: flex;
  flex-direction: column;
  background-color: #cfd309;

  h1 {
    font-family: "Inconsolata", Consolas, monospace;
    margin-top: 32px;
    font-size: 4em;
    color: #333;
  }
  // Typing style
  .typing {
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      right: 0;
      width: 100%;
      background-color: #cfd309;
      color: #333;
      animation: typing $animation-time steps($text-length) forwards,
        caret 1s infinite;
    }
  }
  // Animation
  @keyframes typing {
    to {
      width: 0;
    }
  }
  @keyframes caret {
    50% {
      color: transparent;
    }
  }
}

.slider-text-container {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  .img-container {
    .medical-image {
      width: 300px;
      height: 250px;
      border-radius: 10%;
    }
  }
}

.f-slider-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  .sub-text {
    color: #333 !important;
    font-size: 14px;
  }
}

.f-slider-text strong {
  color: #333;
  font-size: 2rem;
  line-height: 55px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-style: italic;
}

.f-slider-text span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: beige;
  letter-spacing: 6px;
}

.f-slider-btn {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  font-weight: 500;
  background-color: black;
  text-transform: uppercase;
  margin-top: 15px;
  border-radius: 5px;
}

.f-slider-text strong font {
  color: beige;
  font-weight: 900;
}

/*END OF FULL PAGE SLIDER*/

/*PRODUCTS*/

.product-list {
  //   padding: 100px 15px;
  //   min-width: 100px;
  background-color: #eeecf1;
}

.product-title {
  position: relative;
  text-align: center;
  margin: 0 auto 40px;
  line-height: 60px;
  font-size: 30px;
}

.product-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 50px;
  height: 10px;
  background-color: seagreen;
}

.product-list {
  .item {
    position: relative;
    margin-bottom: 50px;
    padding: 0px 15px;
    .product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 32px;
      grid-column-gap: 32px;
      .product-container {
        display: flex;
        flex-direction: column;
        border-radius: 10%;
      }
    }
  }
}

.product-list .product .product-thumb img {
  max-width: 100%;
  width: 100%;
  height: 400px;
  display: block;
  cursor: pointer;
  display: block;
}

.product-list .product .product-info {
  text-align: center;
}

.product-list .product .product-info .product-name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  color: #2e8b57;
}

.product-list .product .product-info .product-price {
  display: inline-block;
  margin: 0 7px;
  color: seagreen;
  font-size: 20px;
}

.product-list .product .product-info .first {
  text-decoration: line-through;
  color: rgb(172, 61, 49);
  font-size: 16px;
}

.product-list .product .off-info .sm-title {
  position: absolute;
  top: 0;
  left: 16px;
  background-color: seagreen;
  color: white;
  padding: 5px 0;
  z-index: 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
}

.product-list .product .product-thumb {
  position: relative;
}

.product-list .product .product-thumb .product-button {
  position: absolute;
  left: 0%;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
  transform: translateY(100%);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.product-list .product:hover .product-thumb .product-button {
  opacity: 1;
  transform: translateY(0%);
}

.product-list .product .product-thumb .product-button a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: teal;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
}

.product-list .product .product-thumb .product-button a .fas,
.product-list .product .product-thumb .product-button a .far {
  line-height: 40px;
}

.product-list .product .product-thumb .product-styles {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.product-list .product .product-thumb .product-styles span {
  position: relative;
  width: 10px;
  height: 10px;
  display: block;
  margin-bottom: 9px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.product-list .product .product-thumb .product-styles span.active-style:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  margin-left: -3px;
  margin-top: -3px;
  border-radius: 50%;
  box-sizing: border-box;
}

/*END OF PRODUCTS*/

@media (max-width: 991px) {
  .sale-design .sale-label {
    display: none;
  }

  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }

  .header .item-right,
  .header .item-left {
    flex: 0 0 auto;
  }

  .v-center {
    justify-content: space-between;
  }

  .header .mobile-menu-trigger {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header .mobile-menu-trigger span {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
  }

  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .header .mobile-menu-trigger span:before {
    top: -6px;
  }

  .header .mobile-menu-trigger span:after {
    top: 6px;
  }

  .header .item-right {
    align-items: center;
  }

  .header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: white;
    z-index: 1099;
    transform: translateX(-100%);
    overflow: hidden;
  }

  .header .menu.active {
    transform: translateX(0%);
  }

  .header .menu > ul > li {
    display: block;
    line-height: 1;
    margin: 0;
  }

  .header .menu > ul > li > a {
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0px 50px 0px 15px;
    font-weight: 600;
  }

  .header .menu > ul > li > a i {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transform: rotate(-90deg);
  }

  .header .menu .mobile-menu-head {
    display: flex;
    height: 60px;
    line-height: 60px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5012;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .header .menu .mobile-menu-head .go-back {
    width: 50px;
    height: 60px;
    line-height: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    cursor: pointer;
    display: none;
  }

  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }

  .header .menu .mobile-menu-head .current-menu-title {
    font-weight: 600;
    font-style: italic;
    color: black;
  }

  .header .menu .mobile-menu-head .mobile-menu-close {
    width: 50px;
    height: 60px;
    line-height: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
  }

  .header .menu .menu-main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .header .menu > ul > li .sub-menu,
  .header .menu > ul > li .sub-menu.mega-menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    overflow-x: auto;
    max-width: none;
    min-width: auto;
    transform: translateX(0%);
    display: none;
  }

  .header .menu > ul > li .sub-menu.active {
    display: block;
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item {
    flex: 0 0 100%;
    padding: 10px 0;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
    display: block;
    line-height: 25px;
  }

  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item .title {
    font-size: 15px;
    margin: 15px 0;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title {
    margin: 15px 0;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: all 0.5s ease;
  }

  .menu-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

// ----

/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
  0% {
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(10, 10);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes roll-out {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
main {
  width: 100%;
  overflow: hidden;
  font-family: "Expletus Sans", cursive;
}
.hero {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative;
  color: #392f28;
}

.hero h1 {
  font-size: 4.1em;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero p {
  font-size: 1.5em;
  margin: auto;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero img {
  width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 329px) {
  .product-list .item .product {
    display: flex;
    flex-direction: column;
  }
  .f-slide-1 h1 {
    font-size: 2rem;
  }
  .f-slider-text {
    align-items: center;
    text-align: center;
  }
  .f-slider-text strong {
    font-size: 1.5rem !important;
  }
  .slider-text-container {
    flex-direction: column-reverse;
    .img-container {
      margin: 32px 0;
    }
  }
  .phone {
    margin: 0 !important;
    flex-direction: row;
    justify-content: space-between;
    .contact .country-text {
      font-size: 12px;
    }
    a {
      margin-bottom: 10px;
      font-size: 12px !important;
      font-weight: 600;
    }
    .contact {
      flex-direction: column;
      align-items: center;
    }
  }
  .hero {
    height: 50vw;
  }
  .bar {
    height: 26vw;
    top: 10vw;
  }
  .hero h1 {
    font-size: 8vw;
    top: 13vw;
  }
  .hero p {
    font-size: 3vw;
    top: 27vw;
  }
}

@media screen and (min-width: 330px) and (max-width: 500px) {
  .product-list .item .product {
    display: flex;
    flex-direction: column;
  }
  .f-slider-text strong {
    font-size: 1.8rem !important;
  }
  .f-slide-1 h1 {
    font-size: 2rem;
  }
  .f-slider-text {
    align-items: center;
    text-align: center;
  }
  .slider-text-container {
    flex-direction: column-reverse;
    .img-container {
      margin: 32px 0;
    }
  }
  .phone {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    .contact .country-text {
      font-size: 12px;
    }
    a {
      margin-bottom: 10px;
      font-size: 12px !important;
      font-weight: 600;
    }
    .contact {
      flex-direction: column;
      align-items: center;
    }
  }
  .hero {
    height: 50vw;
  }
  .bar {
    height: 26vw;
    top: 10vw;
  }
  .hero h1 {
    font-size: 8vw;
    top: 13vw;
  }
  .hero p {
    font-size: 3vw;
    top: 27vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  // @media only screen and (min-width: 768px) {
  .product-list .item .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 32px;
    .product-container {
      display: flex;
      flex-direction: column;
      border-radius: 10%;
    }
    .product-thumb img {
      max-width: 100%;
      width: 100%;
      height: 258px;
      object-fit: contain;
    }
  }

  .slider-text-container {
    margin-top: 32px;
  }

  .product-list .product .product-thumb img {
    max-width: 100%;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .product-list .product .product-info {
    margin-top: 10px;
  }
}

.mt-2 {
  margin-top: 16px;
}
